<p id="notice"><%= notice %></p>

<h1>Farms</h1>


<table>
  <thead>
    <tr>
      <th>Farmname</th>
      <th>Farmtype</th>
      <th>Farm url</th>
      <th>Area</th>
      <th>Image url</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @farms.each do |farm| %>
      <tr>
        <td><%= link_to farm.farmname, farm_path(farm) %></td>
        <td><%= farm.farmtype %></td>
        <td><%= link_to_unless farm.farm_url.nil?, farm.farm_url, farm.farm_url %></td>
        <td><%= farm.area %></td>
        <td><%= farm.image_url %></td>
        <td><%= truncate( farm.message, length: 30) %></td>
        <td><%= link_to 'Edit', edit_farm_path(farm) %></td>
        <td><%= link_to 'Destroy', farm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Farm', new_farm_path %>
